body {
  font-family: 'IBMPlexSans-Regular', sans-serif;
  background-color: #f4f5f7;
  margin: 0;
  padding: 0;
}
.navbar {
  position: relative;
}

.sidebar {
  height: 110%;
  width: 10%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #0d28a6;
  padding-top: 10px;
  font-size: small;
  text-align: center;
  padding-right: 40px;
}

.sidebar2 {
  position: absolute;
  padding-top: 50px;
  height: 100%;
  width: 20%;
  left: 10%;
  background-color: #ffffff;
  text-align: start;
  font-weight: bold;
}

.main {
  position: absolute;
  height: 100%;
  width: 80%;
  left: 20%;
  background-color: #e5e5e5;
  padding-top: 20px;
  overflow: auto;
}
.main a {
  margin-left: 10px;
}
